{% extends '::base.html.twig' %}

{% block content %}
    <h2>Social client bundle DEMO</h2>

    <h3>Instagram - search medias by tag:</h3>
    <form>
        <input name="ig_tag" placeholder="Введите тег"
               value="{{ app.request.get("ig_tag") }}"/>
        <button type="submit">Feuer!</button>
    </form>

    {% if mediaList is defined %}
        <ol>
            {% for media in mediaList %}
                <li>
                    <div>{{ media.id }}</div>
                    <img src="{{ media.source }}" width="240"/>
                </li>
            {% endfor %}
        </ol>
    {% endif %}

    <hr/>

    <h3>Vkontakte - show posts from user's wall:</h3>
    <form>
        <div>199177108</div>
        <input name="vk_user_id" placeholder="Введите ID пользователя"
               value="{{ app.request.get("vk_user_id") }}"/>
        <button type="submit">Feuer!</button>
    </form>
    <ul>
        {% for post in posts %}
            <li>
                <div>Владелец: <b>{{ post.owner }}</b></div>
                <div>Автор: <b>{{ post.author }}</b></div>
                <div>Дата: <b>{{ post.createdAt|date('Y-m-d H:i') }}</b></div>
                <div>Собрала лайков: <b>{{ post.likesCount }}</b></div>
                {{ post.text|raw }}

                {#<div>
                    {{ dump(post.attachments) }}
                </div>#}

                <ul>
                    {% for attachment in post.attachments if attachment != null %}
                        <li>{{ attachment.toRichText()|raw }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <hr/>

    <h3>Vkontakte - show group members:</h3>
    <form>
        <div>199177108</div>
        <input name="vk_group_id" placeholder="Введите ID группы"
               value="{{ app.request.get("vk_group_id") }}"/>
        <button type="submit">Feuer!</button>
    </form>
    <ul>
        {% for vkUser in vkUsers %}
            <li>
                {#<img src="{{ vkUser.photoMediumUrl }}" height="200"/>#}
                <div>
                    {{ vkUser }}
                    {% if vkUser.online == true %}
                        <span style="color: #02ab05; font-weight: bold;">ONLINE</span>
                    {% else %}
                        <span>OFFLINE</span>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
